<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <ng-container *ngIf="brands$ | async as brands; else loading">
    <p-card header="Preencha os dados abaixo"
      subheader="Selecione a marca, modelo e ano para consultar um veículo na tabela FIPE"
      styleClass="vehicle-form-card">
      <p-divider></p-divider>

      <div class="form-fields">
        <div class="field">
          <label for="brand">Marca</label>
          <p-dropdown id="brand" formControlName="brandId" [options]="brands" optionLabel="name" optionValue="code"
            placeholder="Escolha a marca do seu veículo">
          </p-dropdown>
        </div>

        <div class="field">
          <label for="model">Modelo</label>
          <p-dropdown id="model" formControlName="modelId" [options]="models" optionLabel="name" optionValue="code"
            placeholder="Escolha a marca do seu veículo"></p-dropdown>
        </div>

        <div class="field">
          <label for="model">Ano</label>
          <p-dropdown id="model" formControlName="yearId" [options]="years" optionLabel="name" optionValue="code"
            placeholder="Escolha o ano do seu veículo"></p-dropdown>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <div class="">
          <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full"> </p-button>
          <p-button label="Save" class="w-full" styleClass="w-full" type="submit"> </p-button>
        </div>
      </ng-template>
    </p-card>
  </ng-container>
</form>
<ng-template #loading>Carregando ...</ng-template>