<header>
  <span><i class="pi pi-car"></i></span>
  <h1>Consulta FIPE</h1>
</header>

<main>
  <div class="titles">
    <h2>Consulta tabela FIPE</h2>
    <p>Consulte o valor de cada veículo por ano</p>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <p-card header="Preencha os dados abaixo"
      subheader="Selecione a marca, modelo e ano para consultar um veículo na tabela FIPE"
      styleClass="vehicle-form-card">
      <p-divider></p-divider>

      <div class="form-fields">
        <div class="field">
          <label for="vehicleType">Tipo de veículo</label>
          <p-dropdown id="vehicleType" formControlName="vehicleType" [options]="vehicleTypeOptions" optionLabel="name"
            optionValue="code" placeholder="Escolha o tipo do seu veículo">
          </p-dropdown>
        </div>

        <div class="field">
          <label for="brand">Marca</label>
          <div class="dropdown-wrapper">
            <p-dropdown id="brand" formControlName="brandId" [filter]="true" filterBy="name" [options]="brands"
              optionLabel="name" optionValue="code" placeholder="Escolha a marca do seu veículo">
            </p-dropdown>
            <span *ngIf="loadingBrands"><i class="pi pi-spin pi-spinner"></i></span>
          </div>
        </div>

        <div class="field">
          <label for="model">Modelo</label>
          <div class="dropdown-wrapper">
            <p-dropdown id="model" formControlName="modelId" [options]="models" [filter]="true" filterBy="name"
              optionLabel="name" optionValue="code" placeholder="Escolha o modelo do seu veículo">
            </p-dropdown>
            <span *ngIf="loadingModels"><i class="pi pi-spin pi-spinner"></i></span>
          </div>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <div class="footer">
          <p-button (onClick)="clearForm()" label="Limpar" styleClass="clear-form"></p-button>
          <p-button label="Pesquisar" type="submit" [disabled]="!formGroup.valid || loadingBrands || loadingModels"
            styleClass="submit-form">
          </p-button>

        </div>
      </ng-template>
    </p-card>
  </form>


  <ng-template #loading>
    <div class="loading-overlay">
      <p-progressSpinner></p-progressSpinner>
      <span>Carregando histórico...</span>
    </div>
  </ng-template>

  <ng-container *ngIf="vehiclePriceHistory$ | async as vehicleHistory; else loading">
    <ng-container *ngFor="let history of vehicleHistory">
      <app-vehicle-history [vehicleHistory]="history"></app-vehicle-history>
    </ng-container>
  </ng-container>
</main>