<header>
  <span><i class="pi pi-car"></i></span>
  <h1>Consulta FIPE</h1>
</header>

<main>
  <div class="titles">
    <h2>Consulta tabela FIPE</h2>
    <p>Consulte o valor de cada veículo por ano</p>
  </div>

  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <p-card header="Preencha os dados abaixo"
      subheader="Selecione a marca, modelo e ano para consultar um veículo na tabela FIPE"
      styleClass="vehicle-form-card">
      <p-divider></p-divider>

      <div class="form-fields">
        <div class="field">
          <label for="vehicleType">Tipo de veículo</label>
          <p-dropdown id="vehicleType" formControlName="vehicleType" [options]="vehicleTypeOptions" optionLabel="name"
            optionValue="code" placeholder="Escolha o tipo do seu veículo">
          </p-dropdown>
        </div>

        <div class="field">
          <label for="brand">Marca</label>
          <p-dropdown id="brand" formControlName="brandId" [options]="brands" optionLabel="name" optionValue="code"
            placeholder="Escolha a marca do seu veículo">
          </p-dropdown>
        </div>

        <div class="field">
          <label for="model">Modelo</label>
          <p-dropdown id="model" formControlName="modelId" [options]="models" optionLabel="name" optionValue="code"
            placeholder="Escolha o modelo do seu veículo">
          </p-dropdown>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <div class="footer">
          <p-button (onClick)="clearForm()" label="Limpar" styleClass="clear-form"></p-button>
          <p-button label="Pesquisar" type="submit" [disabled]="!formGroup.valid" styleClass="submit-form"></p-button>
        </div>
      </ng-template>
    </p-card>
  </form>

  <div *ngIf="loading" class="loading-overlay">
    <p-progressSpinner></p-progressSpinner>
    <span>Carregando histórico...</span>
  </div>

  <ng-container *ngIf="vehiclePriceHistory$ | async as vehicleHistory">
    <ng-container *ngFor="let history of vehicleHistory">
      <app-vehicle-history [vehicleHistory]="history"></app-vehicle-history>
    </ng-container>
  </ng-container>
</main>